body, :root {
  margin: 0;
  background: silver;
}

header {
  position: absolute;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  flex-wrap: wrap;
}

article.station {
  width: 10em;
  height: 10em;
  background: blue;
  text-transform: capitalize;
  font-family: sans-serif;
  line-height: 10em;
  text-align: center;
}

article.station span.name {
  color: white;
  background: black;
  padding: 0.2em;
  border-radius: 0.2em;
}


