body, :root {
  margin: 0;
  background: silver;
  font-family: sans-serif;
}

header {
  position: absolute;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.5em;
  opacity: 0.3;
  pointer-events: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

article.station {
  box-sizing: border-box;
  width: calc(33.3vw - 6px);
  height: calc(33.3vw - 6px);
  background: blue;
  text-transform: capitalize;
  line-height: calc(33.3vw - 6px);
  text-align: center;
}

article.station span.name {
  color: white;
  background: black;
  padding: 0.2em;
  border-radius: 0.2em;
}


