:root {
  --heng-fa-chuen: #b51921;
  --tai-koo: #b2103e;
  --kowloon-bay: #c41832;
  --tseung-kwan-o: #ef342a;
  --wui-kai-sha: #a84d18;
  --po-lam: #f68f26;
  --sai-wan-ho: #faca07;
  --disneyland-resort: #07594a;
  --skek-kip-mei: #4ba946;
  --racecourse: #5fc0a7;
  --tai-wai: #0376c2;
  --central: #c41832; 
  --tsuen-wan: #c41832;
  --mong-kok: #be3223;
  --hung-hom: #f45f7c;
  --kam-sheung-road: #d16f20;
  --tai-wo: #ffd00d;
  --chain-wan: #076750;
  --fanling: #7abf45;
  --lok-ma-chau: #75c7b9;
  --chai-hung: #077cb0;
}
