:root {
  --heng-fa-chuen: #b51921;
  --tai-koo: #b2103e;
  --kowloon-bay: #c41832;
  --tseung-kwan-o: #ef342a;
  --wui-kai-sha: #a84d18;
  --po-lam: #f68f26;
  --sai-wan-ho: #faca07;
  --disneyland-resort: #07594a;
  --skek-kip-mei: #4ba946;
  --racecourse: #5fc0a7;
  --central: #c41832; 
}
