body, :root {
  background: white;
  font-family: sans-serif;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
}

form, input, button {
  font-size: x-large;
}

label.station {
  width: 33vw;
  height: 33vw;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

label.station p {
  text-align: center;
  display: none;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ p {
  display: block;
}

span.color,
span.name {
  color: #eee;
  background: #222;
  padding: 0.2em;
  border-radius: 0.2em;
}

span.name {
  text-transform: capitalize;
}

span.color {
  font-family: monospace;
}




